.storybook-typography {
  margin: 0;
  font-family: var(--font-family);
}

/* Variants */
.storybook-typography--h1 {
  font-size: var(--font-size-h1, 40px);
  font-weight: var(--font-weight-semibold, 600);
  line-height: var(--line-height-h1, 1.2);
}

.storybook-typography--h2 {
  font-size: var(--font-size-h2, 32px);
  font-weight: var(--font-weight-medium, 500);
  line-height: var(--line-height-h2, 1.25);
}

.storybook-typography--h3 {
  font-size: var(--font-size-h3, 24px);
  font-weight: var(--font-weight-semibold, 600);
  line-height: var(--line-height-h3, 1.33);
}

.storybook-typography--h4 {
  font-size: var(--font-size-h4, 20px);
  font-weight: var(--font-weight-medium, 500);
  line-height: var(--line-height-h4, 1.4);
}

.storybook-typography--h5 {
  font-size: var(--font-size-h5, 18px);
  font-weight: var(--font-weight-medium, 500);
  line-height: var(--line-height-h5, 1.44);
}

.storybook-typography--h6 {
  font-size: var(--font-size-h6, 18px);
  font-weight: var(--font-weight-semibold, 600);
  line-height: var(--line-height-h6, 1.44);
  letter-spacing: var(--letter-spacing-h6, 0.9px);
  text-transform: uppercase;
}

.storybook-typography--body {
  font-size: var(--font-size-body, 16px);
  font-weight: var(--font-weight-regular, 400);
  line-height: var(--line-height-body, 1.5);
}

/* Colors */
.storybook-typography--color-primary {
  color: var(--color-text-primary, #2c2a28);
}

.storybook-typography--color-secondary {
  color: var(--color-text-secondary, #7a848c);
}

